.hiddenRow {
    padding: 0 !important;
    position: relative;
    box-shadow: inset 0 7px 10px -6px #DBDBDB;
}

.leftAccordion {
	float: left;
	width: 50%;
	padding-left: 3% !important;
}

.rightAccordion {
	float: right;
	width: 50%;
	/*padding-right: 3% !important;*/
}

.infoRow {
	display: block;
	padding: 10px 0% 9px 0% !important;
	/*font-weight: bold !important;*/
}

.infoCont {
	display: inline-block;
	position: relative;
	width: 80%;
	/*font-weight: normal !important;*/
	/*padding-left: 13.5% !important;*/
}

.infoSmGlyph{
	width: 45px;
	height: 45px;
	position: absolute;
}